@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  overflow-wrap: anywhere;
}

*[class$="-title"],
.product-name {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

*[class*="-link"],
.menu-button,
.category-name,
.delivery-button,
.footer-about-logo,
.contacts-phone {
  color: inherit;
  text-decoration: none;
}

*[class*="-text"],
.filters-groups-label,
.product-price,
.slide-description,
.slide-number,
.category-icon,
.cart-lumpsum {
  margin: 0;
  padding: 0;
}

*[class*="-input"] {
  font: inherit;
  color: inherit;
}

*[class*="button"],
.catalog-more {
  margin: 0;
  padding: 0;
  font: inherit;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

*[class*="-list"],
*[class*="-menu"],
.submenu-categories,
.slide-indicators {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-page {
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 40%, #ffe17f 40% 60%, transparent 60% 100%);
  border: none;
}

.button:hover {
  background-image: none;
  background-color: #ffe17f;
}

.button:active {
  background-image: none;
  background-color: #ffcc33;
  outline: none;
}

.button:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button:disabled,
.navigation-search *:disabled,
.navigation-button:disabled,
.indicator-toggle:disabled,
.subscribe-button:disabled,
.subscribe-input:disabled,
.modal-input:disabled,
.input-control:disabled + .checkbox-label,
.catalog-more:disabled,
.toggle-pin:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.container-center {
  width: 1160px;
  margin: 0 auto;
}

.logo-image {
  display: block;
}

/* Шапка сайта */
.site-header {
  color: #000000;
  background-image: linear-gradient(to bottom, #ffffff 40px, #ffe17f 40px 100%);
}

.catalog-page .site-header {
  margin-bottom: 35px;
}

.header-logo {
  display: block;
  width: fit-content;
  margin-bottom: 30px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.header-logo:active {
  outline: none;
  opacity: 0.3;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 17px 49px 0 60px;
  z-index: 2;
}

.catalog-page .navigation {
  padding-bottom: 22px;
}

.utilits-wrapper {  /* Оболочка для формы поиска и списка пользовательского меню*/
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 30px;
}

.navigation-search {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  min-width: 518px;
  margin-right: 26px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}

.navigation-search .search-label {
  display: flex;
}

.navigation-search .search-input {
  width: 359px;
  padding: 8px 8px 8px 46px;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.navigation-search .search-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-search .button-submit {
  position: relative;
  width: 159px;
  padding: 8px 0;
  text-transform: none;
  background-color: transparent;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.navigation-search .button-submit:not(:last-of-type) {
  border-radius: 0;
}

.navigation-search .button-submit::before {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  content: "";
}

.navigation-search .search-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-submit:hover {
  color: #ffffff;
  background-color: #000000;
}

.button-submit:focus {
  outline: none;
}

.button-submit:focus:not(:active)::before {
  outline: 2px solid #af4fff;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-search .search-input:focus {
  outline: none;
}

.navigtion-menu.user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: 496px;
  margin-left: auto;
}

.navigtion-menu.user-menu .menu-item {
  position: relative;
}

.navigtion-menu.user-menu .menu-item:not(:last-of-type) {
  position: relative;
  margin-right: 18px;
  margin-left: -10px;
}

.navigtion-menu.user-menu .menu-item:nth-of-type(1) {
  margin-right: auto;
}

.navigtion-menu.user-menu .menu-item:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.menu-item.authorisation-links {
  display: flex;
  flex-wrap: wrap;
}

.navigtion-menu.user-menu .menu-icon.icon-login {
  margin-right: 13px;
}

.navigtion-menu.user-menu .menu-icon {
  margin-right: 10px;
}

.menu-item .menu-link {
  display: flex;
  padding: 5px 0;
}

.menu-link.active-link,
.category-link.active-link {
  position: relative;
}

.menu-link.active-link::after,
.category-link.active-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #000000;
  content: "";
}

.category-link.active-link::after {
  width: 100%;
  bottom: -2px;
  height: 1px;
}

.menu-link.active-link::after {
  right: 1px;
}

.menu-link.cart-link {
  min-width: 128px;
  padding-right: 11px;
  justify-content: flex-end;
}

/* Корзина всплывающее окно*/
.menu-item .popover-wrapper {
  position: absolute;
  top: 20px;
  right: -48px;
  display: block;
  width: 320px;
  padding-top: 20px;
  z-index: 2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  background-color: transparent;
}

.popover-wrapper .cart-list {
  display: none;
}

.popover-wrapper:hover > .cart-list,
.menu-item:focus-within .cart-list {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
}

.menu-item .cart-list::before {
  position: absolute;
  top: 7px;
  left: 48%;
  width: 14px;
  height: 6px;
  border: 7px solid transparent;
  border-bottom-color: #000000;
  content: "";
}

.cart-list .cart-item {
  position: relative;
  display: flex;
  padding: 20px;
}

.cart-list .cart-item.cart-lumpsum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #1a1a1a;
  padding-top: 0 20px;
}

.cart-item.open-cart {
  padding: 0;
}

.cart-list .cart-item:not(:last-child):not(.cart-item.cart-lumpsum) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item .cart-item-link {
  display: flex;
}

.cart-item .cart-item-link:hover,
.cart-item .item-del:hover {
  opacity: 0.6;
}

.cart-item .cart-item-link:active,
.cart-item .item-del:active {
  opacity: 0.3;
  outline: none;
}

.cart-item-link .cart-item-thumbnail {
  margin-right: 23px;
}

.cart-item-link .cart-item-name {
  max-width: 152px;
}

.cart-item .item-del {
  padding: 0;
  margin-left: auto;
  background: transparent;
  width: 12px;
  height: 12px;
  background-image: url("../images/popup/cross-del.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popover-wrapper .cart-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  min-height: 50px;
  margin: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.popover-wrapper .cart-open-button:hover {
  background-color: #ffe17f;
}

.popover-wrapper .cart-open-button:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.popover-wrapper .cart-open-button:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  cursor: not-allowed;
  pointer-events: none;
}

.popover-wrapper .cart-open-button:focus:not(:active),
.cart-item .item-del:focus:not(:active),
.cart-item .cart-item-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Конец вплывающее окно корзины*/

.menu-item .menu-link:hover:not(:focus),
.category-link:hover:not(:focus) {
  opacity: 0.6;
}

.menu-item .menu-link:focus:not(:active) {
  outline: 2px solid #af4fff;
}

.menu-item .menu-link:active,
.category-link:active {
  opacity: 0.3;
}

.menu-item .cart-goods {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.navigation-menu:not(.navigtion-menu.user-menu),
.footer-menu {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: right;
}

.submenu-categories {
  position: absolute;
  width: 1160px;
  left: 0;
  padding-left: 60px;
  display: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
  background-color: #ffe17f;
}

.submenu-categories.submenu-active {    /* Активация подменю с помощью дополнительного класса*/
  display: flex;
  margin-top: 2px;
  padding: 12px 1px 60px 60px;
}

.menu-item.submenu-inside:focus-within .submenu-categories {    /* Активация подменю с помощью фокуса*/
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  padding: 12px 1px 60px 60px;
}

.submenu-categories .category-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 211px;
}

.submenu-categories .category-group:first-child {
  margin-right: 40px;
}

.category-group .category-link:not(:last-child) {
  margin-bottom: 17px;
}

.navigtion-menu.user-menu .menu-link.user-name,
.menu-link.log-in-text,
.menu-link.log-out-text { /* Изначально имя пользователя и названия кнопок авторизации скрыто */
  display: none;
}

.navigtion-menu.user-menu .user-name.switch-on {
  display: flex;
  margin-right: 28px;
}

.navigtion-menu.user-menu .log-out-text.switch-on {
  color: rgba(0, 0, 0, 0.3);
}

.navigtion-menu.user-menu .switch-on { /* Этот класс вкл/откл Имя пользователя и меняет название кнопки авторизации */
  display: flex;
}

.navigation-menu:not(.navigtion-menu.user-menu) {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item:not(:last-of-type) {
  margin-right: 46px;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item:first-of-type {
  margin-right: auto;
  z-index: 1;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item:last-of-type {
  margin-right: 8px;
}

.navigation-menu .menu-button {
  display: flex;
  align-items: center;
}

.menu-button .button-text {
  margin-right: 17px;
}

.navigation-menu .menu-button:focus:not(:active) {
  outline: 2px solid #af4fff;
}

.menu-button .button-toggle {
  position: relative;
  flex-shrink: 0;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.menu-button .button-toggle::before,
.menu-button .button-toggle::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.menu-button .button-toggle::before {
  width: 16px;
  height: 2px;
}

.menu-button .button-toggle::after {
  width: 2px;
  height: 16px;
}

.menu-button:hover .button-toggle::before,
.menu-button:hover .button-toggle::after {
  background-color: rgba(0, 0, 0, 1);
}

.menu-button:hover .button-toggle {
  border-color: #000000;
}

.menu-item.submenu-inside:focus-within .button-toggle::after {
  content: none;
}

.menu-button:focus {
  position: relative;
}

.category-link:focus:not(:active) {
  outline: 2px solid #af4fff;
}

/* Подвал сайта */
.site-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
}

.site-footer > .container-center {
  display: flex;
  padding: 62px 0 61px 0;
}

.footer-about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 112px;
  padding-bottom: 71px;
  margin-bottom: 20px;
}

.footer-about::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: "";
}

.footer-about-logo {
  align-self: flex-start;
  margin-bottom: 35px;
}

.footer-about-logo:hover {
  opacity: 0.6;
}

.footer-about-logo:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-about-logo:active {
  outline: none;
  opacity: 0.3;
}

.links-wrapper,
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}


.footer-menu {
  margin-bottom: 60px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  padding-left: 12px;
  margin-bottom: 6px;
}

.footer-menu-list {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
}

.footer-menu-list .footer-menu-item:not(:last-child) {
  margin-right: 30px;
}

.footer-socials .socials-list {
  display: grid;
  width: 150px;
  grid-template-columns: repeat(3, 40px);
  column-gap: 15px;
  row-gap: 5px;
}

.footer-menu-list .footer-menu-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-menu-list .footer-menu-link:active {
  opacity: 0.3;
  outline: none;
}

.footer-menu-list .footer-menu-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.socials-item .socials-button {
  display: block;
}

.socials-button svg {
  display: block;
  fill: #444444;
}

.icon-facebook > circle,
.icon-instagramm > circle,
.icon-twitter > circle {
  fill: #ffffff;
  fill-opacity: 0.3;
}

.icon-facebook:hover > circle,
.icon-instagramm:hover > circle,
.icon-twitter:hover > circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.socials-button:active > svg {
  fill: #444444;
  fill-opacity: 0.3;
}

.socials-button:active {
  outline: none;
}

.socials-button:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.info-wrapper {
  max-width: 180px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: auto;
  padding-bottom: 9px;
}

.contacts-phone {
  text-decoration-line: underline;
}

.site-footer .contacts-phone:last-of-type {
  display: block;
  margin-bottom: 63px;
}

.site-footer .contacts-phone:hover {
  color: #ffc700;
}

.contacts .contacts-phone:hover:not(:focus) {
  opacity: 0.6;
}

.site-footer .contacts-phone:active,
.contacts .contacts-phone:active {
  opacity: 0.3;
  outline: none;
}

.site-footer .contacts-phone:focus:not(:active),
.contacts .contacts-phone:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-about-address,
.contacts-address {
  font-style: normal;
}

.developers-link {
  display: block;
}

.developers-link .developer-logo {
  display: block;
  fill: #ffc700;
}

.developers-link:hover .developer-logo {
  fill: #ffffff;
}

.developers-link:active .developer-logo {
  fill: #ffffff;
  fill-opacity: 0.3;
}

.developers-link:active {
  outline: none;
}

.developers-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Главная страница основное содержимое */
.home-content {
  flex-grow: 1;
}

/* Секция со слайдами */

.slider-categories-best {
  position: relative;
  margin-bottom: 56px;
  background-image: linear-gradient(to bottom, #ffe17f 136px, #ffffff 136px 100%);
}

.slider-navigation {
  position: absolute;
  top: 197px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
  z-index: 1;
}

.navigation-button {
  border: none;
  background-color: transparent;
}

.navigation-button:focus {
  outline: none;
}

.navigation-button .slide-prev,
.navigation-button .slide-next {
  fill: #000000;
}

.navigation-button:hover .slide-prev,
.navigation-button:hover .slide-next {
  fill: rgba(0, 0, 0, 0.6);
}

.navigation-button:active .slide-prev,
.navigation-button:active .slide-next {
  fill: rgba(0, 0, 0, 0.3);
  outline: none;
}

.navigation-button:focus:not(:active) .slide-prev,
.navigation-button:focus:not(:active) .slide-next {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slide {
  position: relative;
  display: none;
}

.slide:nth-child(1)::before {
  position: absolute;
  top: 16px;
  right: 48px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  content: "01";
  z-index: 0;
}

.slide:nth-child(2)::before {
  position: absolute;
  top: 16px;
  right: 48px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  content: "02";
}

.slide:nth-child(3)::before {
  position: absolute;
  top: 16px;
  right: 48px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  content: "03";
}

.slide.slide-active {
  display: flex;
}

.container-slide {
  width: 560px;
  padding-top: 108px;
  z-index: 1;
}

.slide-image {
  margin-right: 40px;
  transform: translateY(-15px);
}

.slide-title {
  margin-bottom: 29px;
}

.slide-title strong {
  font-weight: 800;
}

.slide-description {
  margin-bottom: 51px;
}

.slide-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.slide-control .button {
  max-width: 250px;
}

.slide-indicators {
  position: absolute;
  top: 65%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  row-gap: 5px;
  max-width: 200px;
  z-index: 2;
}

.slide-indicator {
  display: flex;
}

.slide-indicators .slide-indicator:not(:last-child) {
  margin-right: 20px;
}

.slide-indicator .indicator-toggle {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slide-indicator .indicator-toggle::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.indicator-toggle.indicator-active {
  background-color: #000000;
}

.indicator-toggle:hover {
  opacity: 0.6;
}

.indicator-toggle:active {
  opacity: 0.3;
}

.indicator-toggle:focus:not(:active)::after {
  content: "";
}

.slide-parameters {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 385px;
}

.param-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 156px;
}

.param-wrapper:not(:last-child) {
  margin-right: 22px;
}

.slide-parameters .data-value {
  order: 1;
  margin: 0;
}

.slide-parameters .heading-name {
  order: 2;
  margin-top: 5px;
}

.data-value b {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.heading-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

/* Секция categories - Категории товаров */
.categories {
  margin-bottom: 58px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  row-gap: 5px;
}

.category .category-name {
  display: flex;
  width: 160px;
  min-height: 253px;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.category .category-name::before {  /* Базовый стиль иконок категорий */
  height: 160px;
  margin-bottom: 32px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
/* стили для каждой категории по отдельности */
.category .category-name[id="virtual-reality"]::before {
  background-image: url("../images/index/virtual-reality.svg");
}

.category .category-name[id="monopods"]::before {
  background-image: url("../images/index/monopods.svg");
  background-position: top 43px center;
}

.category .category-name[id="action-cameras"]::before {
  background-image: url("../images/index/action-cameras.svg");
}

.category .category-name[id="fitness-bracelets"]::before {
  background-image: url("../images/index/fitness-bracelets.svg");
}

.category .category-name[id="smart-watches"]::before {
  background-image: url("../images/index/smart-watches.svg");
}

.category .category-name[id="quadrocopters"]::before {
  background-image: url("../images/index/quadrocopters.svg");
}

.category .category-name:hover::before {
  background-color: #ffc700;
}

.category .category-name:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.category .category-name:active {
  opacity: 0.3;
}


/* Секция services - Дополнительные услуги */
.services {
  margin-bottom: 70px;
  background-image: linear-gradient(to bottom, #ffffff 114px, #f0f0f0 114px 100%);
}

.services > .container-center {
  position: relative;
  display: flex;
  padding: 76px 0 102px 0;
}

.services > .container-center::before {   /* Делаем всю область текущего пункта меню кликабельной */
  position: absolute;
  top: 12px;
  bottom: 72px;
  left: 280px;
  width: 7px;
  background-color: #000000;
  content: "";
}


.services-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 280px;
}

.service {
  margin-bottom: 35px;
}

.service .service-link.button {
  display: block;
  min-width: 160px;
  padding: 9px 0;
  text-align: center;
}

.service-info-list {
  margin-top: 9px;
  padding-left: 124px;
}

.service-title {
  margin-bottom: 34px;
}

.service-description {  /* Изначально описание услуг скрыто */
  position: relative;
  display: none;
}

.service-description.service-delivery::after {
  position: absolute;
  top: 4px;
  right: -244px;
  width: 136px;
  height: 164px;
  background-image: url("../images/index/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-description.service-warranty::after {
  position: absolute;
  top: -11px;
  right: -253px;
  width: 171px;
  height: 195px;
  background-image: url("../images/index/warranty-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-description.service-credit::after {
  position: absolute;
  top: -8px;
  right: -274px;
  width: 156px;
  height: 188px;
  background-image: url("../images/index/credit-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service.service-current {    /* Задаем цветовые стили для текущего пункта меню */
  position: relative;
  min-width: 280px;
  color: #ffe17f;
}

.service.service-current .service-link.button {
  min-width: 280px;
  padding-left: 18px;
  color: inherit;
  background-color: #000000;
  background-image: none;
  text-align: left;
}

.service.service-current .service-link.button:hover {
  color: rgba(255, 225, 127, 0.5);
}

.service.service-current .service-link.button:active {
  color: rgba(255, 225, 127, 0.3);
}


.service.service-current .service-link::before {   /* Делаем всю область текущего пункта меню кликабельной */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.service-description.description-current { /* Показываем описание выбранной услуги */
  display: flex;
  flex-direction: column;
}

.service-description .description-text {
  max-width: 475px;
}

/* Секция delivery-order - Заказ доставки */
.delivery-order {
  margin-bottom: 70px;
  background-color: #f0f0f0;
}

.delivery-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.delivery-button::before {
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("../images/index/delivery-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.delivery-button .delivery-text {
  width: 910px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
}

.delivery-button::after {
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: #dcdcdc;
  border-radius: 50%;
  background-image: url("../images/index/icon-i.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  content: "";
}

.delivery-button:hover::before {
  background-color: #ffc700;
}

.delivery-button:hover::after {
  opacity: 1;
}

.delivery-button:active {
  outline: none;
  opacity: 0.3;
}

.delivery-button:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Секция shop-info - Информация о магазине */
.shop-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

/* Подраздел секции shop-info - О нас */
.about-us {
  width: 520px;
  margin-right: 108px;
  padding-right: 23px;
}

.about-title,
.contacts-title {
  margin-bottom: 48px;
}

.shop-info .about-text,
.shop-info .contacts-text,
.shop-info .contacts-address,
.shop-info .working-hours-list {
  margin-bottom: 30px;
}

.shop-info .button {
  padding: 0 28px;
}

.about-us .courier-services {
  display: flex;
  flex-direction: column;
  margin: 0 0 11px 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  list-style-type: none;
}

.courier-services .courier-name {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  padding-left: 4px;
}

.courier-services .courier-name::before {
  width: 8px;
  height: 8px;
  margin-right: 26px;
  background-color: #ffe17f;
  border-radius: 50%;
  content: "";
}

.about-us .button {
  padding: 0 22px;
}


/* Подраздел секции shop-info - Контакты */
.contacts {
  width: 532px;
}

.about-us,
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 47px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.contacts .contacts-subtitle {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 30px;
}

.contacts .contacts-text {
  width: 497px;
}

.contacts .button {
  padding: 0 33px;
}

/* Секция newsletter-subscribe - Подпишитесь на рассылку */
.newsletter-subscribe {
  display: block;
  padding: 64px 0 56px 0;
  background-color: #f0f0f0;
}

.newsletter-subscribe > .container-center {
  display: grid;
  grid-template-columns: 365px 1fr 560px;
  row-gap: 144px;
}

.newsletter-subscribe .newsletter-title {
  margin-left: 8px;
}

.newsletter-subscribe .newsletter-text {
  grid-column: 3/-1;
  padding: 10px 0 0 7px;
}

.newsletter-subscribe .subscribe-form {
  display: flex;
  grid-column: 1/-1;
  justify-self: stretch;
}

.subscribe-form {
  position: relative;
}

.subscribe-form .subscribe-input {
  width: 557px;
  padding-left: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #cecece;
}

.subscribe-form .subscribe-input:active {
  opacity: 0.3;
}

.subscribe-form .subscribe-input:focus:not(:active) {
  background-color: #dcdcdc;
  outline: none;
}

.subscribe-form .subscribe-input.error {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe-form .free-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 135px;
  margin-left: auto;
  cursor: pointer;
}

.free-label::before {
  position: absolute;
  top: 50%;
  left: -33px;
  width: 16px;
  height: 16px;
  background-image: url("../images/index/tick-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-53%);
  content: "";
}

.subscribe-form .subscribe-input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-form .subscribe-button {
  max-width: 270px;
  padding: 15px 32px 15px 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 3px solid #cecece;
}

.subscribe-form .subscribe-button:active {
  opacity: 0.3;
  outline: none;
}

.subscribe-form .subscribe-button:focus:not(:active) {
  background-color: #dcdcdc;
  outline: none;
}

/*
      Страница Каталог.
      Корневая секция catalog-content - основное содержимое:
  - Список товаров выбранной категории и инструменты фильтрации, сортировки, пагинации
*/

/* Секция content-header - шапка с элементами навигации в виде маршрута до текущей страницы (breadcramps)  */
.catalog-content .container-center {
  padding-left: 60px;
}


.catalog-content .container-catalog {
  background-color: #f0f0f0;
}

.catalog-content .content-title {
  margin-bottom: 16px;
}

.content-header .breadcramps-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.breadcramps-list .breadcramps-item {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.breadcramps-list .breadcramps-item:not(:last-of-type) {
  position: relative;
  margin-right: 36px;
}

.breadcramps-list .breadcramps-item:not(:last-of-type)::after {
  position: absolute;
  top: 50%;
  right: -23px;
  width: 4px;
  height: 7px;
  background-image: url("../images/catalog/breadcramps-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  opacity: 0.2;
  content: "";
}

.breadcramps-item .breadcramps-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcramps-item .breadcramps-link:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.breadcramps-item .breadcramps-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* Секция container-catalog - тело/контейнер каталога */
.catalog-body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.catalog-filters .filters-groups-label,
.catalog-sorting .sorting-label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* Фильтры */
.catalog-filters {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding-top: 25px;
}

.catalog-filters .filters-groups-label {
  margin-bottom: 58px;
}

.catalog-filters .filters-group {
  padding: 12px 0 0 0;
  margin: 0 0 30px 0;
  width: 200px;
  border: none;
  border-top: 2px solid #000000;
}

.filters-group .group-name {
  margin: 0 0 20px 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.filters-group:first-of-type .group-name {
  margin: 0 0 28px 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.range-slider {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.min-pin,
.max-pin {
  position: absolute;
  top: -9px;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
}

.min-pin::after,
.max-pin::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.min-pin:hover,
.max-pin:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.min-pin:active,
.max-pin:active {
  background-color: #000000;
}

.min-pin:focus:not(:active)::after,
.max-pin:focus:not(:active)::after {
  content: "";
}

.min-pin {
  left: -9px;
}

.max-pin {
  right: -9px;
}

.range-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.filters-group .input-price {
  width: 50px;
  appearance: textfield;
}

.filters-group .input-price:focus {
  outline: none;
}

.filters-group .input-price::-webkit-outer-spin-button,
.filters-group .input-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-inputs-wrapper > .input-label {
  position: relative;
}

.range-inputs-wrapper > .input-label:first-of-type {
  left: -14px;
}

.filters-group .input-label,
.filters-group .input-price {
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  color: #4F4F4F;
  background-color: transparent;
  border: none;
}

.range-inputs-wrapper .input-label + .input-label {
  margin-left: 19px;
}

.focus-mark::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.input-price:focus + .focus-mark::after {
  content: "";
}

.filters-group .filters-list {
  display: flex;
  flex-direction: column;
}

.filters-list .filters-item {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: transparent;
}

.filters-list .filters-item:not(:last-of-type) {
  margin-bottom: 18px;
}

.filters-item .item-label {
  display: flex;
}

.control-input + .control-mark {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/catalog/filter-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input:checked + .control-mark {
  border-color: #000000;
}

.filters-item:hover .control-input:not(:disabled) + .control-mark,
.filters-item:hover .control-input:not(:disabled) ~ .item-label {
  opacity: 0.6;
  cursor: pointer;
}

.filters-item:active .control-input:not(:disabled) + .control-mark,
.filters-item:active .control-input:not(:disabled) ~ .item-label {
  opacity: 0.3;
}

.control-mark::after {  /* формируем прямоугольную рамку для фильтра в фокусе */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.control-input:focus + .control-mark::after { /* выводим рамку для фильтра в фокусе */
  content: "";
}

.control-input:disabled ~ * {
  opacity: 0.1;
  cursor: auto;
  pointer-events: none;
}

.catalog-filters .button {
  position: relative;
  top: 7px;
  display: block;
  width: 220px;
  padding: 10px 0 10px 0;
}

/* Сортировка*/
.catalog-sorting {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f0f0f0;
}

.catalog-sorting .sorting-select {
  width: 166px;
  padding-right: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  border: none;
  appearance: none;
}

.catalog-sorting .sorting-select:hover {
  opacity: 0.6;
  cursor: pointer;
}

.catalog-sorting .sorting-select:active {
  opacity: 0.3;
  outline: none;
}

.catalog-sorting .sorting-select:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-sorting .sorting-select:disabled {
  opacity: 0.1;
  cursor: not-allowed;
  pointer-events: none;
}

.container-sorting-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60px;
}

.sorting-button-ascending,
.sorting-button-descending {
  position: relative;
  width: 11px;
  height: 10px;
}

.icon-sort {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 0.2);
}

.sorting-button-descending .icon-sort {
  transform: rotate(180deg);
}

.sorting-button-ascending:hover .icon-sort,
.sorting-button-descending:hover .icon-sort {
  fill: rgba(0, 0, 0, 0.5);
}

.sorting-button-ascending:active .icon-sort,
.sorting-button-descending:active .icon-sort {
  fill: #000000;
}

.sorting-button-ascending:active,
.sorting-button-descending:active {
  outline: none;
}

.sorting-button-ascending:focus:not(:active),
.sorting-button-descending:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
}

/* Список товаров */
.products-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  padding: 70px 40px 44px 40px;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.catalog-wrapper {
  width: 840px;
  background-color: #ffffff;
}

.products-list .products-item {
  position: relative;
  display: grid;
  grid-template-columns: 226px 1fr;
}

.products-item.new-item::before {
  position: absolute;
  top: 27px;
  right: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(240, 240, 240, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  content: "new";
}

.products-item .product-wrapper {
  grid-column: 1/-1;
  margin-bottom: 32px;
  background-color: rgba(240, 240, 240, 0.8);
}

.products-item .product-image {
  display: block;
}

.products-item .product-name {
  display: block;
  align-self: flex-end;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.products-item .product-price {
  align-self: flex-end;
  margin-bottom: 17px;
  margin-left: auto;
}

.product-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 170px;
  z-index: 1;
}

.product-link .button {
  display: none;
}

.product-link:hover .button {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 38px;
}

.product-link:active .button {
  background-image: linear-gradient(to bottom, transparent 40%, #ffc700 40% 60%, transparent 60% 100%);
}

.products-item:hover .product-image {
  opacity: 0.2;
}

.products-item:hover .product-name,
.products-item:hover .product-price,
.products-item.new-item:hover::before {
  opacity: 0.6;
}

.products-item:active .product-name,
.products-item:active .product-price,
.products-item.new-item:active::before {
  opacity: 0.3;
}

.product-link:active {
  outline: none;
}

.product-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-footer {
  padding: 0 40px;
  margin-bottom: 78px;
}

.catalog-more {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 3px solid #e5e5e5;
}

.catalog-more:hover {
  border-color: #000000;
}

.catalog-more:active {
  opacity: 0.3;
}

.catalog-more:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0 16px 0;
  background-color: #ebebeb;
}

.pagination-list .pagination-item {
  font-size: 16px;
  line-height: 20px;
}

.pagination-item .pagination-link:not(.pagination-link.scroll) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  color: #444444f2;
}

.pagination-link.scroll {
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link.scroll:hover {
  background-color: #dcdcdc;
}

.pagination-link:hover:not(.pagination-link.scroll):not(span) {
  color: rgba(68, 68, 68, 1);
}

.pagination-link.scroll:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
}

.pagination-link:active:not(.pagination-link.scroll):not(span) {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-item.scroll-prev {
  margin-right: auto;
}

.pagination-item.scroll-next {
  margin-left: auto;
}

/* Модальное окно*/
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 2;
}

.modal-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 920px;
  min-height: 568px;
  padding: 62px 70px;
  color: #000000;
  background: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 74px;
  right: 70px;
  display: block;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close .icon-close {
  fill: #000000;
}

.modal-close:hover .icon-close {
  fill: rgba(0, 0, 0, 0.6);
}

.modal-close:active .icon-close {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-close:active {
  outline: none;
}

.modal-close:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-form {
  display: grid;
  grid-template-columns: 360px 180px 220px;
  grid-template-areas:
    "heading heading heading"
    "name email email"
    "delivery delivery quantity"
    "submit submit submit";
  gap: 42px 0;
}

.modal .modal-title {
  grid-area: heading;
  padding-right: 25px;
}

.modal-label.user-name {
  grid-area: name;
}

.modal-label.user-mail {
  grid-area: email;
  margin-left: 40px;
}

.modal-label.user-delivery {
  grid-area: delivery;
}

.modal-label.user-quantity {
  display: flex;
}

.modal-submit.button {
  grid-area: submit;
  justify-self: start;
  padding: 0 30px;
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal-label-text {
  margin-bottom: 14px;
}

.modal-form .container-wrapper {
  position: relative;
  grid-area: quantity;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
}

.container-wrapper .popover-icon {
  flex-shrink: 0;
  display: block;
  width: 26px;
  height: 26px;
  margin-top: -3px;
  margin-left: 10px;
  background-color: #ffe17f;
  border-radius: 50%;
  background-image: url("../images/modal/icon-i.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.container-wrapper .popover-text {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #000000;
}

.container-wrapper .popover-text::before {
  position: absolute;
  top: -13px;
  right: 40px;
  width: 14px;
  height: 6px;
  border: 7px solid transparent;
  border-bottom-color: #000000;
  content: "";
}

.popover-icon:hover + .popover-text {
  position: absolute;
  top: 34px;
  left: -19px;
  display: block;
  width: 200px;
  padding: 20px 20px 20px 19px;
  z-index: 1;
}

.modal-label .response-message {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.modal-label .response-message.error {
  color: #ff3d3d;
}

.modal-input.error {
  outline: 2px solid #ff3d3d;
  outline-offset: -2px;
}

.modal-input {
  padding: 20px 35px 20px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ebebeb;
  border: none;
}

.modal-input:placeholder-shown,
.container-wrapper .modal-input {
  background-color: #f0f0f0;
}

.modal-label.user-name .modal-input {
  background-image: url("../images/modal/enter-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 21px;
}

.modal-label.user-mail .modal-input {
  background-image: url("../images/modal/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.container-wrapper .modal-input {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.container-wrapper .modal-input::-webkit-inner-spin-button,
.container-wrapper .modal-input::-webkit-outer-spin-button {
  appearance: none;
}

.toggle-pin {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-input:disabled ~ .toggle-pin {
  cursor: not-allowed;
  opacity: 0.3;
}

.toggle-pin.pin-minus {
  left: 0;
}

.toggle-pin.pin-minus::before,
.toggle-pin.pin-plus::before,
.toggle-pin.pin-plus::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background-color: #000000;
  content: "";
}

.toggle-pin.pin-plus {
  right: 0;
}

.toggle-pin.pin-plus::after {
  width: 2px;
  height: 16px;
}

.toggle-pin:hover {
  opacity: 0.6;
}

.toggle-pin:active {
  opacity: 0.3;
}

.toggle-pin:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-input:hover:not(:disabled) {
  background-color: #dcdcdc;
}

.modal-input:active:not(:disabled) {
  outline: none;
}

.modal-input:focus:not(:active):not(.error) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
