@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

*[class$="-title"] {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

*[class*="-link"],
.menu-button,
.category-name,
.delivery-button,
.contacts-phone {
  color: inherit;
  text-decoration: none;
}

*[class*="-text"],
.filters-groups-label,
.product-price,
.slide-description,
.slide-number,
.category-icon {
  margin: 0;
  padding: 0;
}

*[class*="-input"] {
  font: inherit;
  color: inherit;
}

*[class*="button"],
.catalog-more {
  margin: 0;
  padding: 0;
  font: inherit;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

*[class*="-list"],
*[class*="-menu"],
.submenu-categories,
.slide-indicators {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-page {
  height: 100%;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  background-image: linear-gradient(to bottom, #ffffff 40%, #ffe17f 40% 60%, #ffffff 60% 100%);
  border: none;
}

.container-center {
  width: 1160px;
  margin: 0 auto;
}

.logo-image {
  display: block;
}

/* Шапка сайта */
.site-header {
  color: #000000;
  background-image: linear-gradient(to bottom, #ffffff 40px, #ffe17f 40px 100%);
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 17px 60px 23px 60px;
}

.utilits-wrapper {  /* Оболочка для формы поиска и списка пользовательского меню*/
  display: flex;
  flex-wrap: wrap;
}

.navigation-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 518px;
  margin-right: 26px;
  font-size: 16px;
  line-height: 20px;
}

.search-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.navigation-search .search-input {
  flex-grow: 1;
}

.navigation-search .button-submit,
.navigation-search .search-input,
.navigation-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigtion-menu.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 496px;
}

.navigtion-menu.user-menu .menu-item {
  position: relative;
}

.navigtion-menu.user-menu .menu-item:not(:last-of-type) {
  position: relative;
  margin-right: 36px;
}

.navigtion-menu.user-menu .menu-item:nth-of-type(1) {
  margin-right: auto;
}

.menu-item .menu-icon {
  margin-right: 8px;
}

.menu-item .cart-goods {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin-left: -15px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.navigation-menu:not(.navigtion-menu.user-menu),
.footer-menu {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: right;
}

.submenu-categories {
  position: absolute;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: none;
  background-color: #ffe17f;
  z-index: 1;
}

.submenu-categories .category-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 211px;
}

.navigtion-menu.user-menu .user-name,
.log-in-text,
.log-out-text { /* Изначально имя пользователя и названия кнопок авторизации скрыто */
  display: none;
}

.navigtion-menu.user-menu .switch-on { /* Этот класс вкл/откл Имя пользователя и меняет название кнопки авторизации */
  display: inline-block;
}

.navigation-menu:not(.navigtion-menu.user-menu) {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item {
  position: relative;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item:not(:last-of-type) {
  margin-right: 47px;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item:first-of-type {
  margin-right: auto;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-item:not(:first-of-type) {
  left: 0.2em;
}

.navigation-menu:not(.navigtion-menu.user-menu) .menu-button {
  display: flex;
}

.menu-item .menu-link {
  display: block;
}
/* Подвал сайта */
.site-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #444444;
}

.site-footer > .container-center {
  display: flex;
  padding: 62px 0 61px 0;
}

.footer-about {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 112px;
}

.links-wrapper,
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-wrapper {
  align-items: center;
}

.footer-menu-list,
.footer-socials .socials-list {
  display: flex;
  justify-content: center;
}

.footer-menu-list .footer-menu-item:not(:last-child) {
  margin-right: 35px;
}

.socials-list .socials-item {
  margin-right: 15px;
}

.info-wrapper {
  align-items: flex-end;
  margin-left: auto;
}

.contacts-phone {
  text-decoration-line: underline;
}

.footer-about-address,
.contacts-address {
  font-style: normal;
}

/* Главная страница основное содержимое */
.home-content {
  flex-grow: 1;
}

/* Секция со слайдами */

.slider-categories-best {
  position: relative;
  outline-offset: -1px;
  background-image: linear-gradient(to bottom, #ffe17f 152px, #ffffff 152px 100%);
}

.slider-navigation {
  position: absolute;
  top: 241px;
  left: 30px;
  display: flex;
  justify-content: space-between;
  width: 530px;
  z-index: 1;
}

.navigation-button {
  fill: #000000;
}

.slide {
  position: relative;
  display: none;
}

.slide:nth-child(1)::before {
  position: absolute;
  top: 23px;
  right: 49px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  content: "01";
  z-index: 0;
}

.slide:nth-child(2)::before {
  position: absolute;
  top: 23px;
  right: 49px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  content: "02";
}

.slide:nth-child(3)::before {
  position: absolute;
  top: 23px;
  right: 49px;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  background-color: transparent;
  content: "03";
}

.slide.slide-active {
  display: grid;
  grid-template-columns: 600px 220px 1fr;
  grid-template-rows: 123px min-content min-content auto auto;
  grid-template-areas:
    "image .       ."
    "image heading heading"
    "image descr   descr"
    "image more    indicators"
    "image table   table";
}

.slide-image {
  grid-area: image;
}

.slide-title {
  grid-area: heading;
  z-index: 1;
}

.slide-description {
  grid-area: descr;
}

.slide > .button {
  display: flex;
  align-self: flex-start;
  justify-self: stretch;
  justify-content: center;
  grid-area: more;
}

.slide-title strong {
  font-weight: 800;
}

.slider-table {
  width: fit-content;
  grid-area: table;
}

.data-value b {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.heading-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.slide-indicators {
  display: flex;
  grid-area: indicators;
  justify-self: flex-end;
}

.slide-indicator {
  display: flex;
}

.slide-indicators .slide-indicator:not(:last-child) {
  margin-right: 20px;
}

.slide-indicator .indicator-toggle {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.indicator-toggle.indicator-active {
  background-color: #000000;
}

/* Секция categories - Категории товаров */
.categories-list {
  display: flex;
  justify-content: space-between;
}

.category {
  position: relative;
  width: 160px;
}

.category-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 160px;                /* необходимо задать высоту для контейнера с иконкой для придания квадратной формы */
  background-color: #ffe17f;
}

.category-image {   /* паттерн для центрирования svg иконки внутри контейнера .category-icon*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.category-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.category-name::after { /* паттерн для создания кликабельной зоны на всю область <li> */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

/* Секция services - Дополнительные услуги */
.services {
  background-image: linear-gradient(to bottom, #ffffff 102px, #f0f0f0 102px 100%);
}

.services > .container-center {
  display: flex;
  padding: 64px 0 72px 0;
}

.service-info-list {
  padding-left: 116px;
}

.service-description {  /* Изначально описание услуг скрыто */
  display: none;
}

.service-link.service-current {   /* Выделяем в меню пункт текущей услуги */
  display: block;
  width: 287px;
  text-align: left;
  color: #ffe17f;
  background-color: #000000;
  background-image: none;
}

.service-info-list .service-description:not(:first-of-type) {
  padding-right: 282px;
}

.service-info-list .service-description:first-of-type {
  padding-right: 309px;
}

.service-description.description-current {  /* Показываем описание выбранной услуги */
  display: flex;
  flex-direction: column;
}

/* Секция delivery-order - Заказ доставки */
.delivery-order {
  background-color: #f0f0f0;
}

.delivery-button {
  display: flex;
  justify-content: space-between;
}

.delivery-order .button-icon {
  display: block;
  background-color: #ffe17f;
}

.delivery-button .button-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
}

/* Секция shop-info - Информация о магазине */
.shop-info {
  display: flex;
}

/* Подраздел секции shop-info - О нас */
.about-us {
  width: 520px;
  margin-right: 108px;
  padding-right: 23px;
}

.about-us .courier-services {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.courier-services .courier-name::marker {
  color: #ffe17f;
}

/* Подраздел секции shop-info - Контакты */
.contacts {
  width: 532px;
}

.contacts .contacts-subtitle {
  font-size: 24px;
  line-height: 30px;
}

.contacts .contacts-text {
  width: 496px;
}

/* Секция newsletter-subscribe - Подпишитесь на рассылку */
.newsletter-subscribe {
  display: block;
  background-color: #f0f0f0;
}

.newsletter-subscribe > .container-center {
  display: grid;
  grid-template-columns: 365px 1fr 560px;
}

.newsletter-subscribe .newsletter-text {
  grid-column: 3/-1;
}

.newsletter-subscribe .subscribe-form {
  display: flex;
  grid-column: 1/-1;
  justify-self: stretch;
}

.subscribe-form .subscribe-input {
  width: 557px;
}

.subscribe-form .checkbox-label {
  margin-left: auto;
}

.subscribe-form .subscribe-input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-form .subscribe-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  border: 3px solid #cecece;
}

/*
      Страница Каталог.
      Корневая секция catalog-content - основное содержимое:
  - Список товаров выбранной категории и инструменты фильтрации, сортировки, пагинации
*/

/* Секция content-header - шапка с элементами навигации в виде маршрута до текущей страницы (breadcramps)  */
.content-header .breadcramps-list {
  display: flex;
  gap: 10px;
}

.breadcramps-list .breadcramps-item {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* Секция container-catalog - тело/контейнер каталога */
.container-catalog {
  background-color: #f0f0f0;
}

.catalog-filters .filters-groups-label,
.catalog-sorting .sorting-label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filters-group .group-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.filters-group .input-label,
.filters-group .input-price {
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
}

.filters-group .item-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-sorting .sorting-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
}

.button-sort {
  fill: rgba(0, 0, 0, 0.2);
}

.sorting-button-descending .button-sort {
  transform: rotate(180deg);
}

.catalog-wrapper {
  background-color: #ffffff;
}

.products-list {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.products-list .products-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products-item .product-image {
  grid-column: 1/-1;
}

.products-item .product-name {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.products-item .product-price {
  margin-left: auto;
}

.product-link.button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.products-item:hover .product-link.button {
  display: block;
}

.catalog-more {
  width: 100%;
  padding: 18px 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 3px solid #e5e5e5;
}

.pagination-list {
  display: flex;
  align-items: center;
}

.pagination-list .pagination-item {
  font-size: 16px;
  line-height: 20px;
}

.pagination-item .pagination-link:not(.pagination-link.scroll) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link.scroll {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.pagination-item.scroll-prev {
  margin-right: auto;
}

.pagination-item.scroll-next {
  margin-left: auto;
}
